{% extends 'main/base.html' %}

{% block title %} Best employee {% endblock %}

{% block content %}

<div class="classWithPad">
<table class="table">
    <tbody>
        <tr>
            <th scope="row">Name</th>
            <td colspan="2">Alex Cps</td>
        </tr>
        <tr>
            <th scope="row">Position</th>
            <td colspan="2">HR Management specialist</td>
        </tr>
        <tr>
            <th scope="row">Address</th>
            <td colspan="2">106 DOYERS ST. 8 ARLINGTON DR. 599 NW BAY BLVD.</td>
        </tr>
        <tr>
            <th scope="row">Phone Number</th>
            <td colspan="2">+64 (458) 494-87-95</td>
        </tr>
        <tr>
            <th scope="row">e-mail</th>
            <td colspan="2">bester@icloud.com</td>
        </tr>
    </tbody>
  </table>
</div>

{% endblock %}