.server .server-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #0e1015;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.server .server {
  margin-bottom: 20px;
  border: 1px solid #283347;
  border-radius: 10px;
  padding: 10px;
}

.server .server h2 {
  margin-bottom: 10px;
  font-size: 24px;
  font-family: "Arial", sans-serif;
  color: #00ff00;
}

.server .user-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.server .user {
  padding: 10px;
  border: 1px solid #283347;
  background-color: #1b1f2b;
  color: #fff;
  font-size: 14px;
  text-align: center;
  font-family: "Arial", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.server .user:hover {
  background-color: #283347;
}

.server .user a {
  color: #00bfff;
  text-decoration: none;
}

.server .user a.status-link {
  color: #00bfff;
}

.server .user a.status-link:hover {
  text-decoration: underline;
}

.server .user.selected {
  background-color: #00bfff;
}