.status-container {
  text-align: center;
  margin-bottom: 20px;
  border: 2px solid #00FF00;
  padding: 10px;
  border-radius: 5px;
  background-color: #000000;
  color: #00FF00;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.3);
}

.status-username {
  text-align: center;
  color: #FFF;
  margin-bottom: 10px;
}

.status-server {
  font-size: 12px;
  color: #999;
  text-align: center;
  margin-bottom: 10px;
}

.status-body-parts-container {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.status-body-parts-container::before,
.status-body-parts-container::after {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  border: 2px solid red;
  border-radius: 5px;
}

.status-hp {
  color: #00bfff;
}

.status-bottom-container {
  display: flex;
  justify-content: space-between;
}

.status-weapons-container,
.status-grenades-container {
  width: calc(50% - 10px);
  background-color: #000000;
  border: 1px solid #00FF00;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.3);
}

.status-weapons-container h2,
.status-grenades-container h2 {
  color: #00FF00;
  margin-bottom: 10px;
}

.status-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.status-equipped {
  color: #FF1493;
}
