nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

nav a:active {
  background-color: #555;
}

/* Add padding to the top of main content */
main {
  max-width: 800px;
  margin: 0 auto;
  background-color: #f7f7f7;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Style the user list */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Style each user item */
ol {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style the links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header, footer {
  background-color: #eee;
  padding: 10px;
}


